data/historical_data/*.csv
data/historical_data/*.parquet
live_engine/build/
.vscode/
__pycache__/
.cursorignore
shared/config.json
.env

__pycache__/
*.py[cod]
venv/
.venv/

build/
CMakeCache.txt
CMakeFiles/
*.exe
*.dll
*.lib